@model List<Projeto.Data.Entities.Estoque>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consulta Estoque</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <h2>Consulta de Estoque</h2>
        <a href="/Home/Index">Pagina Inicial</a>
        <hr />
        <div>
            <strong>@TempData["Mensagem"]</strong>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do Estoque</th>
                    <th>Descrição</th>
                    <th>Operações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdEstoque</td>
                        <td>@item.Nome</td>
                        <td>@item.Descricao</td>
                        <td>
                            <a href="/Estoque/Edicao/@item.IdEstoque"
                               class="btn btn-primary btn-sm">
                            Atualizar
                            </a>

                            <a href="/Estoque/Exclusao/@item.IdEstoque"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm
                                ('Deseja excluir o Estoque selecionado?')">
                            Excluir
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        Quantidade de registros: @Model.Count
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</body>
</html>
